In [1]:
import pandas as pd
import numpy as np

In [27]:
timestamp = ['2020-02-16 16:38:56', '2020-11-21 11:59:50',
             '2020-08-13 12:54:24', '2020-10-12 06:14:03',
             '2020-06-13 02:54:24', '2020-08-13 12:54:24',
             '2020-11-21 11:59:50', '2020-08-13 12:54:24',
             '2020-12-19 00:44:47', '2020-01-01 04:30:07']

In [28]:
data = {'timestamp': timestamp,
        'transient_1' : [11 , 62,3  ,62 ,11 ,3  ,62 ,62 ,62 ,11 ],
        'transient_2' : [166,166,0  ,225,225,0  ,225,0  ,225,300],
        'transient_3' : [867,83 ,903,8  ,29 ,105,424,455,410,437],
        'transient_4' : [94 ,756,927,191,611,117,45 ,286,180,273],
        'transient_5' : [95 ,272,754,5  ,477,749,1  ,390,943,4  ],
        'transient_6' : [105,424,455,410,437,45 ,268,180,550,273],
        'transient_7' : [112,201,355,342,495,135,689,2  ,958,661],
        'transient_8' : [163,735,848,67 ,855,198,302,112,416,217],
        'transient_9' : [1  ,390,495,943,4  ,408,163,661,484,943],}

In [29]:
df = pd.DataFrame(data=data)

In [30]:
# Add to 'df' a column called 'average' which contains the average of the transients

df['average'] = df.mean(numeric_only=True, axis=1)

In [31]:
df

,timestamp,transient_1,transient_2,transient_3,transient_4,transient_5,transient_6,transient_7,transient_8,transient_9,average
0,2020-02-16 16:38:56,11,166,867,94,95,105,112,163,1,179.333333
1,2020-11-21 11:59:50,62,166,83,756,272,424,201,735,390,343.222222
2,2020-08-13 12:54:24,3,0,903,927,754,455,355,848,495,526.666667
3,2020-10-12 06:14:03,62,225,8,191,5,410,342,67,943,250.333333
4,2020-06-13 02:54:24,11,225,29,611,477,437,495,855,4,349.333333
5,2020-08-13 12:54:24,3,0,105,117,749,45,135,198,408,195.555556
6,2020-11-21 11:59:50,62,225,424,45,1,268,689,302,163,242.111111
7,2020-08-13 12:54:24,62,0,455,286,390,180,2,112,661,238.666667
8,2020-12-19 00:44:47,62,225,410,180,943,550,958,416,484,469.777778
9,2020-01-01 04:30:07,11,300,437,273,4,273,661,217,943,346.555556

In [32]:
df

,timestamp,transient_1,transient_2,transient_3,transient_4,transient_5,transient_6,transient_7,transient_8,transient_9,average
0,2020-02-16 16:38:56,11,166,867,94,95,105,112,163,1,179.333333
1,2020-11-21 11:59:50,62,166,83,756,272,424,201,735,390,343.222222
2,2020-08-13 12:54:24,3,0,903,927,754,455,355,848,495,526.666667
3,2020-10-12 06:14:03,62,225,8,191,5,410,342,67,943,250.333333
4,2020-06-13 02:54:24,11,225,29,611,477,437,495,855,4,349.333333
5,2020-08-13 12:54:24,3,0,105,117,749,45,135,198,408,195.555556
6,2020-11-21 11:59:50,62,225,424,45,1,268,689,302,163,242.111111
7,2020-08-13 12:54:24,62,0,455,286,390,180,2,112,661,238.666667
8,2020-12-19 00:44:47,62,225,410,180,943,550,958,416,484,469.777778
9,2020-01-01 04:30:07,11,300,437,273,4,273,661,217,943,346.555556

In [33]:
df['month'] = pd.DatetimeIndex(df['timestamp']).month
df

,timestamp,transient_1,transient_2,transient_3,transient_4,transient_5,transient_6,transient_7,transient_8,transient_9,average,month
0,2020-02-16 16:38:56,11,166,867,94,95,105,112,163,1,179.333333,2
1,2020-11-21 11:59:50,62,166,83,756,272,424,201,735,390,343.222222,11
2,2020-08-13 12:54:24,3,0,903,927,754,455,355,848,495,526.666667,8
3,2020-10-12 06:14:03,62,225,8,191,5,410,342,67,943,250.333333,10
4,2020-06-13 02:54:24,11,225,29,611,477,437,495,855,4,349.333333,6
5,2020-08-13 12:54:24,3,0,105,117,749,45,135,198,408,195.555556,8
6,2020-11-21 11:59:50,62,225,424,45,1,268,689,302,163,242.111111,11
7,2020-08-13 12:54:24,62,0,455,286,390,180,2,112,661,238.666667,8
8,2020-12-19 00:44:47,62,225,410,180,943,550,958,416,484,469.777778,12
9,2020-01-01 04:30:07,11,300,437,273,4,273,661,217,943,346.555556,1

In [ ]:
# Add to 'df' a column called 'average_7_max' which contains the average of the largest 7 transients

In [34]:
# In 'df' replace the transients  of row 7 by [1,2,3,4,5,6,7,8,9]

In [35]:
# Sort 'df' by the value contained in timestamp column, in case of equal timestamp, the column transient 1 should be used to sort the rows, in case of identical timestamp and transient_1, the value transient_2 should be used to sort the rows... until transient 10

In [36]:
# Add to df the columns transient_diff_i = transient_i - transient_{i-1} for i = 2, ..., 9

In [37]:
# Multiply the transient values of row 1  by 1, of row 2 by 10, of row 3 by 100 etc.

In [43]:
# In 'df', divide by 10 all the transient values between 200 and 800